.main-container {

    display: grid;
    gap:5px;
    border: 3px solid black;


    grid-template-areas: 
    'banner banner banner'
    'cards cards cards cards'
    'footer footer footer';
}

.content {
 
 
}

#banner {
    grid-area: banner;
    height: 23%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cards {
    grid-area: cards;
    height: 40%;

    padding: 20px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items:center;
   
    
    
}

#footer {
    grid-area: footer;
}

.slider {
    /*background-color: yellow;*/
    width:60%;
    height: 80%;
   
}